{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="facebook">
      <a href="{{ settings.social_facebook_link }}">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="twitter">
      <a href="{{ settings.social_twitter_link }}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Twitter
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li class="linkedin">
      <a href="{{ settings.social_linkedin_link }}">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        LinkedIn
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item instagram">
      <a href="{{ settings.social_instagram_link }}">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        Instagram
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item youtube">
      <a href="{{ settings.social_youtube_link }}">
        <i class="fa fa-youtube" aria-hidden="true"></i>
        Youtube
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item tiktok">
      <a href="{{ settings.social_tiktok_link }}">
        <i class="fa fa-tiktok" aria-hidden="true"></i>
        Tiktok
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item pinterest">
      <a href="{{ settings.social_pinterest_link }}">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
        Pinterest
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item snapchat">
      <a href="{{ settings.social_snapchat_link }}">
        <i class="fa fa-snapchat" aria-hidden="true"></i>
        Snapchat
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item tumblr">
      <a href="{{ settings.social_tumblr_link }}">
        <i class="fa fa-tumblr" aria-hidden="true"></i>
        Tumblr
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item vimeo">
      <a href="{{ settings.social_vimeo_link }}">
        <i class="fa fa-vimeo" aria-hidden="true"></i>
        Vimeo
      </a>
    </li>
  {%- endif -%}
</ul>
