{%- style -%}
  .section-newsletter {
    background: url("{{ 'newsletter.jpg' | asset_url }}") no-repeat center center;
    background-size: cover;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="container">
    <div class="section-content section-{{ section.id }}-padding">
        {% assign heading = section.blocks | where: "type", "heading" | first %}
        {% if heading != blank %}
            <h2 {{ heading.shopify_attributes }} class="inline-richtext {{ heading.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: 0;"
                {% endif %}
            >
                {{ heading.settings.heading }}
            </h2>
        {% endif %}

        {% assign paragraph = section.blocks | where: "type", "paragraph" | first %}
        {% if paragraph != blank %}
            <div {{ paragraph.shopify_attributes }} class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: 1;"
            {% endif %}
          >
            {{ paragraph.settings.paragraph }}
          </div>
        {% endif %}

        {% assign newsletter_form = section.blocks | where: "type", "newsletter_form" | first %}
        {% if newsletter_form != blank %}
            <div {{ newsletter_form.shopify_attributes }} class="clearfix">
                {% form 'customer', class: 'newsletter-form' %}
                    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                        {% if settings.animations_reveal_on_scroll %}
                          data-cascade
                          style="--animation-order: 2;"
                        {% endif %}
                    >
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                              autofocus
                              aria-invalid="true"
                              aria-describedby="Newsletter-error--{{ section.id }}"
                            {% elsif form.posted_successfully? %}
                              aria-describedby="Newsletter-success--{{ section.id }}"
                            {% endif %}
                            placeholder="{{ 'newsletter.label' | t }}"
                            required
                        >
                        <input type="submit" name="commit" value="{{ 'newsletter.button_label' | t }}">
                    </div>
                {% endform %}
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "section-newsletter",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Stay Up to date With Your Favorite Events!",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            },
            {
              "value": "hxl",
              "label": "Extra Large"
            },
            {
              "value": "hxxl",
              "label": "Extra extra large"
            }
          ],
          "default": "h1",
          "label": "Heading Size"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<p>",
          "label": "Paragraph"
        }
      ]
    },
    {
      "type": "newsletter_form",
      "name": "Newsletter Form",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Email Signup Form",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "newsletter_form"
        }
      ]
    }
  ]
}
{% endschema %}
